<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des candidats</title>
</head>
<body>
    <h1>Liste des candidats</h1>
    <ul>
        {% for candidate in candidates %}
        <li>
            <strong>{{ candidate.fullname }}</strong><br>
            Photo: <img src="{{ candidate.photo.url }}" alt="{{ candidate.fullname }} photo"><br>
            Position: {{ candidate.position }}<br>
            Bio: {{ candidate.bio }}<br>
            Score de sentiment: {{ candidate.analyse_sentiment.0 }}<br>
            Catégorie de sentiment: {{ candidate.analyse_sentiment.1 }}<br>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
